@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
   
}






<div class="ui  container">
    <br />
    <br />
    <br />
    <br />
    <div class="ui error icon  huge  message">
        <i class="error icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>