@{
    ViewBag.Title = "About";
}


<div class="ui basic segment">
    <div class="ui left internal rail" style="z-index:2">
       
          <br />
        <img class="ui medium image" src="~/Content/Images/PNG Icons/Aboutus.png" />
       
    </div>
    <div class="ui container" style="z-index:1">
        <div class="ui basic segment ">
            @*<video class="ui medium image floated right" loop="loop" autoplay="autoplay" poster="~/Content/Videos/ocean.jpg">
                <source src="~/Content/Videos/ocean.mp4" type="video/mp4" />
            </video>*@
            <br />         
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
   
</div>





