
@{
    ViewBag.Title = "SiteMap";
}

<div class="ui basic segment">
    <div class="ui left internal rail" style="z-index:2">

        <br />
        <img class="ui medium image" src="~/Content/Images/PNG Icons/Sitemap.png" />
       
    </div>
    <div class="ui container" style="z-index:1">
        
            <div class="ui fluid image">
                <img src="https://docs.google.com/drawings/d/1JyP7vVTQn1jF4GmcaQG68c8FW1MIox524Ku4NTD-khU/pub?w=1440&amp;h=1080">
            </div>           
           
       
    </div>
  
</div>

