@{
    ViewBag.Title = "Index";
}



<div class="ui basic segment">
    <div class="ui left internal rail" style="z-index:2">

        <br />
        <img class="ui medium image" src="~/Content/Images/PNG Icons/News.png" />

    </div>
    <div class="ui container" style="z-index:1">
        <div class="ui basic segment">
            <div class="ui fluid image">
                <img src="https://docs.google.com/drawings/d/1x5kyBqjM7fvNXT3_8-IfklV_z5Won_9gYsMnm4uAxQk/pub?w=960&amp;h=720">
            </div>
        </div>
    </div>
    <div class="ui container" style="z-index:1">
        @*<video class="ui fluid image" loop="loop" autoplay="autoplay" poster="~/Content/Videos/ocean.jpg">
                <source src="~/Content/Videos/ocean.mp4" type="video/mp4" />
            </video>*@

    </div>
</div>