

<div class="ui  container">
    <br />
    <br />
    <br />
    <br />
    <div class="ui success icon  huge  message">
        <i class="checkmark icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Confirm Email
            </div>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>