

<div class="ui  container">
    <br />
    <br />
    <br />
    <br />
    <div class="ui success icon  huge  message">
        <i class="inbox icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Recovery confirmation
            </div>
            <p>
                Please check your email to  reset your password by recovery link.
            </p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>


